@import "colors.css";

/* ----- Base Waybar Settings ----- */

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @on_surface;
}

tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @on_surface;
}

/* ----- OS Icon ----- */

#custom-archicon {
  font-size: 1.5rem;
  padding: 0px 25px;
  transition: all 0.3s ease;
}

#custom-archicon:hover {
  color: @primary;
  transition: all 0.3s ease;
}

/* ----- Workspaces ----- */

#workspace {
  padding: 5px 20px;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: white;
}

#workspaces button:hover {
  color: @primary;
}

#workspaces button.active {
  border: 1px solid @outline;
}

#workspaces button.empty {
  color: @outline;
}

/* ----- Buttons ----- */

#battery,
#pulseaudio,
#bluetooth,
#tray,
#network {
  padding: 5px 20px;
  margin: 2px;
  border: 1px solid @outline;
  transition: all 0.3s ease;
}

#clock {
  padding: 5px 20px;
  margin: 2px;
  transition: all 0.3s ease;
}

#pulseaudio {
  min-width: 60px;
}

#network:hover,
#bluetooth:hover,
#tray:hover,
#pulseaudio:hover {
  color: @primary;
  border: 1px solid @primary;
  transition: all 0.3s ease;
}

#clock:hover {
  color: @primary;
  transition: all 0.3s ease;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

#bluetooth.off,
#bluetooth.disabled,
#bluetooth.no-controller {
  color: @outline;
  transition: all 0.3s ease;
}

#bluetooth.off:hover,
#bluetooth.disabled:hover,
#bluetooth.no-controller:hover {
  color: @primary;
  transition: all 0.3s ease;
}

/* ----- Power Buttons ----- */

#group-power {
  border: 1px solid @outline;
  margin: 2px;
  background: transparent;
  transition: all 0.3s ease;
}

#group-power:hover {
  border: 1px solid @primary;
}

#custom-power,
#custom-lock,
#custom-logout,
#custom-suspend,
#custom-reboot {
  padding: 5px 20px;
  border: none;
  border-right: 2px solid transparent;
  background: transparent;
  transition: all 0.3s ease;
}

#custom-power:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-logout:hover,
#custom-reboot:hover {
  color: @primary;
}

#group-power:hover #custom-reboot,
#group-power:hover #custom-logout,
#group-power:hover #custom-suspend,
#group-power:hover #custom-lock {
  border-right: 2px solid @outline;
}
