@import "colors.css";

/* ----- Base Waybar Settings ----- */

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @on_surface;
  border: 1px solid @outline_variant;
  border-radius: 8px;
}

window#waybar:hover {
  border: 1px solid @primary;
}

tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: @on_surface;
}

/* ----- OS Icon ----- */

#custom-archicon {
  font-size: 1.7rem;
  padding: 0px 15px;
  margin: 0px 0px;
  transition: all 0.3s ease;
}

#custom-archicon:hover {
  color: @primary;
  transition: all 0.3s ease;
}

/* ----- Workspaces ----- */

#workspaces {
  margin: 3px;
}

#workspaces button {
  padding: 3px 5px;
  margin: 0 1px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: transparent;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  color: @primary;
}

#workspaces button.active {
  border-bottom: 2px solid @primary;
  /* background-color: @surface_container_lowest; */
}

#workspaces button.empty {
  color: @outline;
}

#workspaces button.empty:hover {
  color: @primary;
}

/* ----- Taskbar ----- */

#taskbar button {
  border: 1px solid transparent;
  margin: 2px 2px;
  padding: 0 8px;
  color: @on_background;
}

#taskbar button.active {
  border: 1px solid @outline;
  border-radius: 5px;
  background: transparent;
}

/* ----- Buttons ----- */

#battery,
#bluetooth,
#tray,
#network {
  padding: 0px 10px;
  margin: 2px;
  /* border: 1px solid @outline; */
  /* border-radius: 5px; */
  transition: all 0.3s ease;
}

#clock {
  padding: 0px 15px;
  margin: 4px 0px;
  transition: all 0.3s ease;
}

/* #network:hover,
#bluetooth:hover,
#tray:hover,
#pulseaudio:hover {
  color: @primary;
  border: 1px solid @primary;
  transition: all 0.3s ease;
} */

#network:hover,
#bluetooth:hover,
#tray:hover,
#pulseaudio:hover,
#clock:hover {
  color: @primary;
  transition: all 0.3s ease;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

#bluetooth.off,
#bluetooth.disabled,
#bluetooth.no-controller {
  color: @outline;
  transition: all 0.3s ease;
}

#bluetooth.off:hover,
#bluetooth.disabled:hover,
#bluetooth.no-controller:hover {
  color: @primary;
  transition: all 0.3s ease;
}

#audio {
  margin: 4px 0px;
  border-left: 1px solid @outline_variant;
  border-right: 1px solid @outline_variant;
  padding: 0px 7px;
}

#pulseaudio {
  min-width: 60px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: 1px @on_background;
    border-radius: 20px;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 4px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @outline_variant;
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 5px;
    background-color: @primary;
}

#connections {
  margin: 4px 0px;
  padding-right: 7px;
  padding-left: 4px;
  border-right: 1px solid @outline_variant;
}

/* ----- Power Buttons ----- */

#group-power {
  border: 1px solid @outline;
  border-radius: 5px;
  margin: 2px;
  background: transparent;
  transition: all 0.3s ease;
}

#group-power:hover {
  border: 1px solid @primary;
}

#custom-power,
#custom-lock,
#custom-logout,
#custom-suspend,
#custom-reboot {
  padding: 5px 20px;
  border: none;
  border-right: 2px solid transparent;
  background: transparent;
  transition: all 0.3s ease;
}

#custom-power:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-logout:hover,
#custom-reboot:hover {
  color: @primary;
}

#group-power:hover #custom-reboot,
#group-power:hover #custom-logout,
#group-power:hover #custom-suspend,
#group-power:hover #custom-lock {
  border-right: 2px solid @outline;
}
