@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    /* background: rgba(43, 48, 59, 0.5); */
    background: @background;
    color: @on_surface;
}

tooltip {
  background: @background;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @on_surface;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

#battery,
#pulseaudio,
#network {
    padding: 5px 15px;
    margin: 2px;
    background-color: @primary;
    color: #121212;
}