[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openInVim;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action openInVim]
Name=Abrir com Neovim
Exec=kitty --hold -e nvim "%f"
Icon=nvim
