[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openInVSCode;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action openInVSCode]
Name=Abrir com Visual Studio Code
Exec=code "%f"
Icon=vscode
